In [ ]:
!pip install -q feature-engine

In [ ]:
import numpy as np
import pandas as pd
from feature_engine.creation import MathFeatures

In [ ]:
data =   pd.DataFrame.from_dict(
          {"Name":["Arka","Hima Bindhu","Nagalakshmi", "sarkar","Pavan"],
           "city":["Koltkata","Chennai","Banglore","Delhi","Hyderabad"],
           "Age" :[23,21,25,36,57],
           "Salary":[25000,49000,28000,33000,59000],
           "Experience":[4,5,6,8,9]}
)

In [ ]:
data

In [ ]:
transform = MathFeatures(variables=["Experience","Age"],
                         func=["sum","average","min","max","std","prod"])

In [ ]:
transform_latest = transform.fit_transform(data)

In [ ]:
transform_latest

In [ ]:
data_relative =   pd.DataFrame.from_dict(
          {"Name":["Arka","Hima Bindhu","Nagalakshmi", "sarkar","Pavan"],
           "city":["Koltkata","Chennai","Banglore","Delhi","Hyderabad"],
           "Age" :[23,21,25,36,57],
           "Salary":[25000,49000,28000,33000,59000],
           "Experience":[4,5,6,8,9]}
)

In [ ]:
from feature_engine.creation import RelativeFeatures

In [ ]:
transform = RelativeFeatures(variables=["Experience","Age"],
                         func=["add","sub","div"],
                         reference= ["Age"])

In [ ]:
transform.fit_transform(data_relative)

Date and Time Operations

In [ ]:
data = pd.DataFrame({"date": pd.date_range("2023-01-4",periods=20,freq="m")})

In [ ]:
data["year"] = data["date"].dt.year

In [ ]:
data['Month'] = data['date'].dt.month

In [ ]:
data['day']  = data['date'].dt.day

In [ ]:
data

In [ ]:
import pandas as pd
from feature_engine.datetime import DatetimeFeatures

dataset = pd.DataFrame({
    "Key_1":['May-1989','Dec-2022','Mar-2015','Nov-2011'],
    "Key_2":['06/21/2011','07/10/1985','10/10/2014','19/01/2000']
})

In [ ]:
data_transformed = DatetimeFeatures(variables='Key_2',
                                    features_to_extract=["month","day_of_month","year"])

In [ ]:
final_data = data_transformed.fit_transform(dataset)

In [ ]:
final_data

In [ ]:
data_transformed_1 = DatetimeFeatures(variables='Key_1',
                                    features_to_extract=["month","year"])

In [ ]:
diff = data_transformed_1.fit_transform(dataset)

In [ ]:
diff

In [ ]:
from feature_engine.datetime import DatetimeFeatures
data_final = pd.DataFrame({
    "var_1": pd.date_range("2018-01-01",periods=3, freq="H"),
    "var_2": ['08/31/00 12:14:44','12/01/90 23:04:32','04/25/01 11:59:21']
})

In [ ]:
data_final

In [ ]:
dfts =  DatetimeFeatures(variables=["var_1","var_2"],
                         features_to_extract=["year","hour"],drop_original=False,format ="mixed")

In [ ]:
dfts.fit_transform(data_final)

In [ ]:
import pandas as pd
from feature_engine.datetime import DatetimeFeatures

toy_df = pd.DataFrame({
    "var_dt1": pd.date_range("2018-01-01", periods=3, freq="H"),
    "var_dt2": ['08/31/00 12:34:45', '12/01/90 23:01:02', '04/25/01 11:59:21'],
    "var_dt3": ['03/02/15 02:27:26', '02/28/97 10:10:55', '11/11/03 17:30:00'],
})

In [ ]:
dfts = DatetimeFeatures(
    variables=["var_dt1","var_dt3"],
    features_to_extract=["year", "hour"],
    drop_original=False
)
df_transf = dfts.fit_transform(toy_df)

df_transf